<h1>Вы в одном шаге от АЕ-133 </h1>
<p><%=@user.name %> тебе осталось только нажать на ссылку<p>
<p>
  <%= link_to "Активируй меня" , edit_account_activation_url(@user.activation_token , email: @user.email)%>
</p>
