<%= render "profile" %>
<div class="post_user">
	<%= render @posts %>
	<p>
		<%= will_paginate @posts ,style: 'color:grey ; text-decoration: none;' , previous_label: "<", next_label: ">", page_links: false  %>
	</p>
</div>